* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3498DB;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.content {
    background-color: #fff;
    max-width: 410px;
    height: 300px;
    border-radius: 7px;
    padding: 20px 25px 0;
}

.content>form>button {
    margin-top: 20px;
    width: 100%;
}